
body{
    background-image: url( "fundo.png");
    background-repeat: no-repeat;
    background-size: 100%;


}
#voltar{
    color: red;
}
#e{
    text-align: center;
color: white;
}
#tr{
    color: transparent;
}
#t{
    top: 50%;
    text-align: end;
    color: white;

}