#voltar{
    color:red;
}

#text{
}

#te{
   text-align: center;
   color: white;



}
body{
    background-image: url( "fundo.png");
    background-repeat: no-repeat;
    background-size: 100%;


}
